@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Name</h3>

<p>Use this area to provide additional information.</p>

<div class="container">
    <img src="~/Content/image/obrazek.jpg" class="img-rounded" alt="Family doctor" width="250" height="250">
</div>